streamlit
requests
python-dotenv
pandas
streamlit-folium
folium
python-multipart
opencv-python mediapipe numpy requests
opencv-python mediapipe
pybluez
requests geocoder
PySimpleGUI
fastapi uvicorn
fastapi uvicorn python-jose[cryptography] requests
python-multipart
python-jose[cryptography]
streamlit-autorefresh